*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

    /*background-color: #393E46;*/
}


.bg {
    
    background-image: url("src/mountains.jpg");
  
    
  
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

.navbar{
    display: flex;
    align-items: center;
    width: 100%;
    height: 75px;

    background-color: #222831;

    position: sticky;

    border-style: solid;
    border-color: black;
}

.navbar div{
    align-items: inherit;
    display: inherit;
    height: inherit;
    width: 100%;
    right: 0;
    background-color: inherit;
    

    border-style: solid;
    border-color: aqua;
}

.navbar div a{
    line-height: 70px;
    text-align: center;
    background-color: inherit;
    font-size: 25px;
    color: white;
    float: left;
    text-decoration: none;
    width: 150px;
    margin-inline: 10px;
    height: 100%;
    
    border-style: solid;
    border-color: green;
}

.content{
    margin-top: 50px;
    display: flex;
    width: 100%;
    height: 1000px;
    

    border-style: solid;
    border-color: yellow;
}

.rightinfo{
    position: absolute;
    margin-right: 5%;
    right: 0;
    width: 25%;
    height: inherit;
    background-color: #BDD8EB;
    align-items: center;

    border-style: solid;
    border-color: pink;
}

.rightinfo p{
    text-align: center;
    margin-top: 5px;
    background-color: inherit;
}

.leftinfo{
    position: absolute;
    margin-top: 20px;
    margin-left: 5%;
    height: 50%;
    width: 55%;
    text-align: center;
    padding-block: 50px;
    background-color: #BDD8EB;
    
    border-style: solid;
    border-color: black;
    border-radius: 15px 15px;
}

.leftinfo p{
    margin-top: 5px;
    margin-inline: 40px;
    background-color: inherit;
}

.footer{
    width: 100%;
    border-style: solid;
    border-color: blue;
}